/* Colors */
/* Fonts */
/* Text styles */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* Colors */

p{
    padding: 10px 0;
    text-align: center;
}

h1{
    padding: 30px 10px;
}

h2{
    padding-bottom: 30px;
}

section {
    border: 3px solid lightgray;
    margin: 10px;
    padding: 20px;
}

ul{
    padding: 20px;  
}

.orange{
    background-color: #F38020;
    width: 33.3%;
}

.light-gray{
    background-color: #F2F2F2;
    width: 33.3%;
    color: black;
}

.light-gray p{
    color: black;
}


.pale-orange{
    background-color: #E4A679;
    width: 33.3%;
}

.dark-red{
    background-color: #6B2D00;
    width: 33.3%;
}

.color-container {
    display: flex;
    flex-direction: row; 
    width: 100%;
    
}

.color-container{
    padding-bottom: 20px;
}

.color{
    color: white;
    padding: 10px;
    height: 100px;
    margin-right: 20px;
}

#colors{
    padding: 20px;
}

/* Fonts */

.mulish-bold{
    margin-bottom: 10px;
}

.mulish-bold h3{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    padding-bottom: 10px;
}

.mulish-bold p{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: left; 
}

.mulish-regular h3{
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    text-decoration: underline;
    padding-bottom: 10px;
}

.mulish-regular p{
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-align: left; 
}

#fonts{
    display: flex;
    flex-direction: column;
    
}

.font{
    padding: 10px 0;
    height: 100px;
    margin-right: 20px;
}

/* Text styles */

#text-styles p{
    text-align: left;
}

#text-styles h1{
    padding: 0;
    text-align: left;
}

.heading{
    padding-bottom: 10px;
}

